/* Code input textarea */
.h5p-css-challenge-input {
  display: block;
  width: calc(100% - 16px);
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
  outline: none;
  resize: none;
  overflow: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 2em;
}

.h5p-css-challenge-input-container {
  background: #76b0a1;
}

.h5p-css-challenge-input-description {
  margin: 1em;
  padding: 0.5em;
  background: #fdfbe6;
  position: relative;
}

.h5p-css-challenge-input-description:before {
  content: "";
  width: 0;
  height: 0;
  bottom: 0;
  left: 1em;
  transform: translateY(100%);
  position: absolute;
  border: 0.5em solid #fdfbe6;
  border-right: 0.5em solid transparent;
  border-bottom: 0.5em solid transparent;
}
